@import 'tailwindcss';

@theme {
  /* Transitions */
  --default-transition-duration: 300ms;

  /* Z-indexes */
  --z-index-60: 60;
  --z-index-70: 70;

  /* Line heights */
  --leading-4_5: 18px;

  --default-border-color: #fff;

  /* Spacing */
  --spacing-4_5: 18px;
  --spacing-15: 60px;
  --spacing-17: 68px;
  --spacing-18: 72px;
  --spacing-22: 88px;
  --spacing-26: 104px;
  --spacing-30: 120px;
  --spacing-34: 136px;

  --color-pink: #ff4faa;
  --color-yellow: #eaf73a;
  --color-blue: #0000ff;
  --color-green: #86fa00;
  --color-grey: #747474;
  --color-off-white: #f2f2f2;
  --color-divider-grey: #e1e1e1;

  --font-sans: 'Inter', sans-serif;

  /* Custom shadow */
  --shadow-shop-nav-menu: 14px 7px 13.9px 0 rgba(0, 0, 0, 0.24);
}

/* Override cursor-pointer becoming default */
button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}

@layer base {
  body {
    @apply w-full min-w-[320px] bg-white font-sans text-base leading-5 font-normal whitespace-pre-line text-black;
  }
  .heading-1 {
    @apply text-[87px] leading-[78px] font-extrabold -tracking-[1.74px] md:text-[270px] md:leading-[243px] md:-tracking-[5.4px];
  }
  .heading-2 {
    @apply text-[52px] leading-[47px] font-extrabold -tracking-[2.6px] md:text-[84px] md:leading-[75.6px] md:-tracking-[4.2px];
  }
  .heading-3 {
    @apply text-[50px] leading-[45px] font-semibold -tracking-[3px] md:text-[76px] md:leading-[68.4px] md:-tracking-[4.56px];
  }
  .text-subheading {
    @apply font-semibold -tracking-[0.48px] md:text-2xl md:leading-7 md:-tracking-[0.72px];
  }
  .text-collection-title {
    @apply text-[100px] leading-[90px] font-extrabold -tracking-[2px];
  }
  .text-product-title {
    @apply text-xl leading-7 font-bold -tracking-[0.78px];
  }
  .text-introduction {
    @apply font-semibold -tracking-[0.48px] md:text-[35px] md:leading-[42px] md:-tracking-[1.05px];
  }
  .text-general-title {
    @apply text-[28px] leading-[34px] font-bold -tracking-[0.84px] md:text-[39px] md:leading-[46.8px] md:-tracking-[1.17px];
  }
  .text-body-large {
    @apply text-xl leading-7 font-normal -tracking-[0.6px];
  }
  .text-input {
    @apply text-[44px] leading-10 -tracking-[2.64px];
  }
}

body {
  @apply max-w-[100vw] overflow-x-hidden overflow-y-scroll;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  @apply size-1.5 lg:h-2 lg:w-4;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-green;
}

::selection {
  @apply bg-green text-black;
}

b,
strong {
  font-weight: bold;
}

/* Prevent blue tap colouring and outlines on button focus */
* {
  -webkit-tap-highlight-color: transparent;
}

textarea:focus,
select:focus,
input:focus {
  outline: none !important;
}

/* Hide up and down arrows on quantity inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.next-image {
  position: relative !important;
  inset: unset !important;
}

/* Transform blur fix */
.sharpen-transform {
  transform: translate3d(0, 0, 0) perspective(999px);
}

/* Ensure text does not overflow on a single line */
.label-preview {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* REDUCE SPACE BETWEEN MARQUEE ITEMS */
.rfm-marquee {
  @apply !min-w-[unset];
}

.slick-slider {
  @apply relative z-0 overflow-hidden;
}

/* Fix for slick slider content breaking onto new line */
.slick-track {
  display: flex !important;
}

/* PRODUCT PAGE */

.product-image-gallery-slider .slick-dots {
  @apply absolute bottom-3 left-3 !flex w-full gap-x-1.5;
}

/* Active dot */
.product-image-gallery-slider .slick-dots li button:before {
  content: none;
}
.product-image-gallery-slider .slick-dots li {
  @apply !m-0 size-2.5;
}
.product-image-gallery-slider .slick-dots li button {
  @apply size-2.5 rounded-full bg-grey transition-all;
}

.product-image-gallery-slider .slick-dots li.slick-active,
.product-image-gallery-slider .slick-dots li.slick-active button {
  @apply w-[30px];
}

.product-image-gallery-slider .slick-dots li.slick-active button {
  @apply bg-green;
}
